.chartdiv{
	  height: 230px;
      width: 33.3%;
      border: 1px solid lightgrey;
      margin-bottom: 12px;
      float:left;
}

.chartdiv2{
	  height: 150x;
      width: 280px;
      border: 1px solid lightgrey;
      margin: 2px;
}
.module_row{
	background-color: #FFFFCC;
}

.high_light{
	border: 2px solid #FFFFCC;
}

.pop_href{
	a:link{color:#FFFFFF};
	a:visited{color:#FFFFFF}
}

.url_header{
	width: 40%
}