div.gro-sticky-filter {
    width: 100%;
    color:#333;
}

.gro-sticky-filter > .filter-collapse{
    position: fixed;
    background-color: #F5F5F5;
    z-index: 200;
    top:80px;
    width: 100%;
    left: 0;
    padding-left: 80px;
    border: 1px solid #DDDDDD;
}

.gro-sticky-filter > .filter-expand{
    width: 100%;
    top:80px;
}
.gro-sticky-filter .gro-filter-edit{
    position: absolute;
    right: 10px;
    bottom: 0px;
    color: #337ab7;
}
.gro-pos-fixed{
    position: fixed !important;
    left: 0 !important;
    z-index: 200;
    padding-left: 68px !important;
    border: 1px solid #DDDDDD !important;
    background-color: #F5F5F5 !important;
    width: 100% !important

}

.collapse-filter-value{
	color:#727272;
    font-size:14px;
}

.collapse-filter-name{
	margin-left:10px;
	color:#333;
    font-size:14px;
}

div.gro-sticky-filter .collapse-filter-name:first-child{
	margin-left:0;
}