.gro-main-content {
	margin-left: 15px;
	margin-right: 15px;
	min-width:1200px;
}

.gro-filter-content {
	background-color: #F5F5F5;
	border: 1px solid #DDDDDD;
}

.gro-filter-contentcp {
	background-color: #FBFBFB;
	border: 1px solid #FBFBFB;
}

.gro-filter-el {
	display: inline-block;
	color: #555555;
	padding-left: 15px;
	margin: 10px 15px 5px 0px;
}

.gro-filter-text {
	margin: 0 0 5px 2px;
	font-size:12px;
}
th{text-align:center;}
  thead{border-bottom:1px solid #999;}
  thead>tr>th{color:#666;}
  .table>tbody>tr>td,.table>thead>tr>th{height:45px;border:0;vertical-align:middle;white-space:nowrap;}
  .table>tbody>tr.hover td{background:#f9f9f9}
  .metric_name,.seg_value{color:#666;font-weight:bold;}
  .metric_name a{color:#333;text-decoration:none;}
  .seg_value,.seg_name{font-size:0.9em;}
  .seg_name{color:#999;}
  .gro-apply-btn{
	margin-top: 10px;
	margin-left: 15px;
	margin-bottom: 10px;
	width: 100px;
}

.gro-collapse-arrow {
	background-image: url("images/collapse.png");
	color:#666666;
}

.gro-expand-arrow {
	background-image: url("images/expand.png");
	color:#666666;
}

.gro-up-arrow {
	background-image: url("images/up_arrow.png");
}

.gro-down-arrow {
	background-image: url("images/down_arrow.png");
}

.gro-summary-switch {
	margin-top: 10px;
	margin-bottom: 10px;
	float: right;
	clear: both;
}
  .glyphicon{
  font-size:12px;
  margin-right:5px;
  margin-left:5px;
  }
  .glyphicon-menu-right, .glyphicon-menu-down{
  color:#777;
  }
  .glyphicon-triangle-bottom{
  color:red;
  }
  .glyphicon-triangle-top{
  color:green;
  }
 
  .drill-down{
  	 background:url('../css/images/drill-down.png') left top no-repeat;
  	 background-size:20px 20px;
  	 width:20px;
     height:20px;
     display:inline-block;
  	 opacity:0.3;
  } 
  .drill-down:hover{
  	opacity:0.7;
  }
  .drill-down:hover{
  	opacity:0.7;
  }
  .hover .drill-down{
  	background:url('../css/images/drill-down-blue.png') left top no-repeat;
  	background-size:20px 20px;
    width:20px;
    height:20px;
    display:inline-block;
    opacity:1;
  }
.modal .modal-lg {
     width: 80%;
}
.italic-text{
	font-style: italic;
}
.nav-tabs>li a{
	color:#337ab7;
}
.highlighted-sgmt{
	border-bottom:1px dashed;
	text-decoration:none;
	display: inline-block;
	cursor: default;
}

.green-circle,.yellow-circle{
height:15px;
width:15px;
-moz-border-radius:15px;
-webkit-border-radius:15px;
border-radius:15px;
}
.green-circle{
	background-color: #83b715;
}
.yellow-circle{
	background-color: #f1d400;
}
/**Override bootstrap modal dialog css
.modal{
    display: block !important;
}
.modal-dialog{
      overflow-y: initial !important
}
.modal-body{
  height: 760px;
  overflow-y: auto;
}
**/
div.ColVis {
	width: 150px;
	min-width: 150px;
	float: right;
	margin: 0 0 0 10px;
}

.subcatg-drill{
	background-color:#fff;
	padding:3px 5px;
	margin-left:5px;
	color:#39c !important;
	font-size:0.9em;
	border-radius:3px;
	font-weight:normal;
	text-decoration: none !important;
}
.subcatg-drill:hover{
	background-color:#eee;
	text-decoration: none !important;
}

ul.ColVis_collection{
	height:400px;
	overflow:hidden;
	overflow-y:scroll;
}
.ih-negative-number{
	color:#ff0000;
}
.ih-positive-number{
	color:#009900;
}
.tab-pane>div table{table-layout:fixed; width:100%;border-left:1px solid #ddd;}
   .tab-pane>div table thead{ border-color:#ddd;}
   .tab-pane>div>table table {border-top:1px solid #ddd;border-left:0;border-right:0}
   .tab-pane>div>table table thead{ border:0}
   .tab-pane>div table td{ padding:4px;word-wrap:break-word; font-size:12px;}
   .tab-pane>div table td.ng-binding {text-align:center; padding:4px 4px 4px 0;}
   .tab-pane>div>table table td.ng-binding {text-align:right}
   .tab-pane>div table th{word-wrap:normal;color:black;font-size:0.85em;padding:4px;}
   .tab-pane>div table table tr.bluebg {background:#F0F9FB}
   
 .expand-plus,.collapse-minus{
		display: inline-block;
		text-align: center;
		line-height: 16px;
		width: 18px;
		height: 18px;
		margin-right: 8px;
		margin-left: 4px;
		box-shadow: 1px 1px 1px 0 #ccc;
		background: #f2f2f2;
		color: #69c;
		font-weight: bold;
		font-size: 17px;
		border-radius: 3px;
		cursor:pointor;
	}
   .expand-plus:before{content : "+";} 
   .collapse-minus:before{content : "-";}  
   
      .nav.nav-tabs{background:#f2f2f2;}
   .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    	color: #000;
    	border: 1px solid #aaa;
        border-bottom-color: transparent;
   }
   .btn-subcategory {
	color: #36a;
	margin: 0 0 5px 0;
	border: 0;
	background:white;
	text-decoration: underline;
	font-weight: bold;
	padding: 3px 0;
	} 
	.row:nth-child(3) {
		border-bottom: 0 !important;
	}
	.row:nth-child(3) p{
		margin:5px;
	}
	.row:nth-child(4) {
		margin-top: 0 !important;
	}
	.gro-filter-el {
	padding-left:0
	}
	.filter-hierarchy {padding: 10px 20px 10px 20px;background-color: #FCFCFC;}
	.gro-filter-content {padding-left:20px;padding-right:20px;border-radius: 3px;}
	.gro-apply-btn {margin-left:0} 
	
.gro-filter-content .bootstrap-select.btn-group .dropdown-menu li a span.text{
	font-size:12px !important;
}
.gro-filter-content .bootstrap-select.btn-group .dropdown-toggle .filter-option{
	font-size:12px !important;
}
.gro-filter-content .bootstrap-select>.dropdown-toggle{
	height:30px !important;
}
 .cross-search-loading{
  	 background:url('../css/images/xs-loader.gif') left top no-repeat;
  	 background-size:20px 20px;
  	 width:20px;
     height:20px;
     display:inline-block;
  	 opacity:0.3;
  }