.body{
	margin:0;
}
.clear{
	clear:both;
}
.box{
	width: 50%;

}

.highcharts-tooltip>span {
    background: white;
    border: 1px solid silver;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #888;
    padding: 8px;
}
/*#test_table{

}*/

.pre-sparkline{
	width:18%;
}
.pre-sparkline_link{
	width:14%;
}

.sparkline,.sparkline_link {
	display: none;
}
.sparkline.highlight {
	display: table-cell;
	width:28%;
	background:#fdfbf5;
}
.sparkline_link.highlight {
	display: table-cell;
	width:22%;
	background:#fdfbf5;
}
/*#test_table_link>th:first-child,#test_table_link>td:first-child{
	width:22%;
}*/
#test_table_link>th:second-child,#test_table_link>td:second-child{
	width:14%;
}

.left_border_pre{
	border-left:1px solid #e3d098;
}

.table_hover_bg{
	background-color:#fcf9ef;
	/*background-color:#fff;*/
}
.table>tbody>tr.even td.sparkline{
	background-color:#fdfbf5;
}


.table>tbody>tr.even td.pre-sparkline.table_hover_bg{
	background-color:#fdfbf5;
}
.table_hover_bg_hover{
	background-color:red;/*//#f6f3e9*/
}





