body{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	min-width:1250px;
}
.clear{
	clear:both;
}
.large-area{
	padding:20px;
	border-top:none;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background:#f5f5f5;
}

.content-area{
	width:100%;
 	padding:20px;
    /*margin:auto;*/
}
.tab-customize-header>li>a{
 	padding-left:30px;
 	padding-right:30px;
}
.tab-customize-header>li.active>a,.tab-customize-header>li>a:focus,.tab-customize-header>li.active>a:focus{
	background: #f5f5f5;
	color:#000000;
}
.tab-customize-header>li.active>a:hover{
	background: #f9f9f9;
}
.dashboard{
	border: 1px solid #ddd;
	padding:20px 20px;
	background: white;
	height:180px;
}
.dashboard1{
	border: 1px solid #ddd;	
	padding:20px 20px;
	background: white;
}
.dash_inventory{
	/*border-top:2px solid #F15CA8;*/

}
.dash_demand{
	/*border-top:2px solid #6accc5;*/

}
.dash_seller{
	/*border-top:2px solid #8085E9;*/

}
.dash_buyer{
	/*border-top:2px solid #ff724c;*/

}
.dash_product{
	/*border-top:2px solid #c1db64;*/

}
.dash_brand{
	/*border-top:2px solid  #43a1bc;*/

}
.health-item{
	width:14.26%;
	float:left;
	text-align: center;
	color:#444;
}
.increase-decrease-number{
	color:#00b000;
}
.item-text{
	font-size:1.2em;
}
.dashboard-header
{
	font-size:1.2em;
}
.dashboard-title{
	float:left;
	font-weight: bold;
	color:#777;
}
.dashboard-more{
	float:right;
	text-decoration: underline;
	color:#337ab7;
}
.dashboard-more:hover{
	color:#34abff;
}
.two-col-dash{
	margin-top: 12px;
	/*height: 200px;*/
}

.col-left{
	width:50%;
	float:left;
	padding-right:6px;
}
.col-right{
	width:50%;
	float:left;
	padding-left:6px;
}

.data-text{
	text-align: center;
	color:#444;
	padding-right:0;
} 
.tab-customize li a{
	padding:0 16px 5px 16px;
	border:none;
	color:#666;
	font-size:.9em;
}

.dashboard-tabs{
	padding-left:20%;
	float:left;
}
.dashboard-tabs2{
	padding-left:24%;
	float:left;
}
.tab-customize>li>a:hover{
	background: none;
	border:none;
	color:#0096ff;
}

.tab-customize>li.active>a, .tab-customize>li.active>a:focus{
	border:none;
	border-bottom: 2px solid #007acf;
	color:#007acf;
}
.tab-customize>li.active>a:hover{
	border:none;
	border-bottom: 2px solid #0096ff;
	color:#0096ff;	
}
.imgs{
	text-align: center;
}
.imgs_left{
	width:40px;
	text-align: center;
	float:right;
}
.imgs_right{
	width:50px;
	text-align: center;
	float:left;
}
.imgs_left2{
	width:36px;
	text-align: center;
	float:right;
}
.imgs_right2{
	width:80px;
	text-align: center;
	float:left;
}
.txt-center{
	text-align: center;
}
.imgs_left3{
	width:60px;
	text-align: center;
	float:right;
}
.imgs_right3{
	width:80px;
	text-align: center;
	float:left;
}

.highcharts-series-0>circle{
	stroke:none;
}
.highcharts-series-1>circle{
	stroke:none;
}

.highcharts-axis-labels, .highcharts-yaxis-labels{
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.col-md-6>embed>span>small{
	color:#666;
}