.body{
	margin:0;
}
.intro-header{

	/*background: no-repeat center center;*/
	/*width:100%;*/
	height:300px;
	/*background: #ccc;*/
	background:url('../img/foreground.png') 5% 5%, 
	url('../img/midground.png') 50% 50%, 
	url('../img/background.png') 90% 110%;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: left 300s linear;
    -moz-transition: left 300s linear;
    -o-transition: left 300s linear;
    -ms-transition: left 300s linear;
    transition: left 300s linear;
    margin:0;
    position: absolute;	
	/*background-size:cover;*/
}
.intro-header:target  {
    left: -5000px;
}
.intro-header:hover {
	left:-9999px;
}
.clear{
	clear:both;
}

@media only screen and (max-width: 767px){
	.navbar-default .navbar-collapse{
		background: rgba(255,255,255,0.92);
		color:#666;
	}
	.navbar-default .navbar-collapse li:hover{
		background: #ddd;
		color:#333;
	}
	
	.navbar-default .navbar-toggle {
		background: transparent;
		border:transparent;
		padding: 19px 16px;
		border-radius: 50%;		
	}
	.navbar-default .navbar-toggle:focus,
	.navbar-default .navbar-toggle:hover {
	  background-color: inherit;
	}
	.navbar-default .navbar-toggle:active {
	  background-color: rgba(255, 255, 255, 0.25);
	}
	.navbar-default .navbar-toggle .icon-bar{
		background:white;
	}

}

.navbar-custom{
	background:none;
	border:none;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	z-index:5;
	font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  	line-height: 1.7;

}
.navbar-custom .navbar-brand {
  font-weight: 800;
  color: white;
  height: 56px;
  line-height: 25px;
}
.navbar-custom .navbar-brand:hover {
  color: rgba(255, 255, 255, 0.8);
}
.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 1px;
  /*color:white;*/
}

.navbar-custom .nav li a:hover, 
.navbar-custom .nav li a:active {
  color: rgba(0, 0, 0, 0.9);
  /*background: none;*/
}

@media only screen and (min-width: 768px){
	.navbar-custom {
	  background: transparent;
	  border-bottom: 1px solid transparent;
	}
	.navbar-custom body {
	  font-size: 20px;
	}
	.navbar-custom .navbar-brand {
	  color: white;
	  padding: 20px;
	  line-height: 20px;
	}
	.navbar-custom .navbar-brand:hover,
	.navbar-custom .navbar-brand:focus {
	  color: rgba(255, 255, 255, 0.8);
	}
	.navbar-custom .nav li a {
	  color: white;
	  padding: 20px;
	}
	.navbar-custom .nav li a:hover,
	.navbar-custom .nav li a:focus {
	  color: rgba(255, 255, 255, 0.8);
	}
	.navbar-custom .nav li a:active {
	  background: none;
	}
}

@media only screen and (min-width: 1170px) {
  .navbar-custom {  	
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    /*background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;*/
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom.is-fixed .navbar-brand {
    color: #404040;
  }
  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #0085a1;
  }
  .navbar-custom.is-fixed .nav li a {
    color: #404040;
  }
  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #0085a1;
  }
  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    background: rgba(255,255,255,0.8);
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
.show-area{
	height:350px;
}
.big-box{
	width:100%;
	/*height:1200px;*/
	background: grey;
	margin:0;
	padding: 20px 100px;
}

.port1, .port2, .port3, .port4, .port5, .port6{
	width:300px;
	height:200px;
	background: #f1f1f1;
	border-radius:4px;
	border:1px solid #grey;
	-webkit-transition: 300ms; /* For Safari 3.1 to 6.0 */
	transition: 250ms;
	background: no-repeat center center;
	background-size:cover;
	margin:20px;
	float:left;
	position: relative;
}

.port1:hover{
	/*width:300px;*/
	/*height:220px;*/
	-ms-transform: translate(0,-10px); /* IE 9 */
	-webkit-transform: translate(0,-10px); /* Safari */
	transform: translate(0,-10px);
	/*box-shadow: 0px 1px 16px #3258dd;*/
}

.port2:hover{
	/*box-shadow: 0px 1px 16px #3258dd;*/
	background-position: 50% 55%;
}

.port3:hover{
	width:300px;
	height:280px;
	-webkit-transition: 500ms;
	-webkit-transition-timing-function: ease-out;/*linear,ease,ease-in,ease-out,ease-in-out*/
    transition-timing-function: ease-out;
}

.port-layer{
	opacity: 0;
	width:100%;
	height:100%;
	background:rgba(200,250,245,0.9);
	color:#333;
	text-align: center;
	padding-top:50px;
	/*visibility: hidden;*/
	-webkit-transition:  200ms;
    -moz-transition:  200ms;
    transition: 200ms;
/*    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;*/
}


p#selected-case-count{
	width:200px;
	position:fixed; /*固定元素位置*/
	bottom:10%; /*距底部距离*/
	right:40px; /*距右侧位置*/
	color:blue; 
	padding:20px;
	background: white;
	box-shadow: 1px 1px 16px #2345de;
	z-index: 100;
	border-radius: 6px;
}

.show-to-right{
	width:200px;
	padding:20px;
	position: relative;
	/*margin:200px 200px;*/
	float:left;
	background: white;
	border-radius: 6px;
	box-shadow: 2px 2px 2px #deab67;
}

.animation-bg{
	width:100%;
	height:800px;
	background:url("../img/icon.png") 5% 5%,
	url("../img/me1.png") 20% 20%;
	top: 218px;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	-webkit-transition: left 300s linear;
	transition: left 300s linear;
	
}